#current {
    display: grid;
    grid-template-rows: 400px 300px;
}

.yesBtn {
    margin-top: 50px;
    padding: 5px;
    font-size: 4rem;
    background-color: rgba(51, 170, 51);
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(91, 219, 91, 0.4);
}

.noBtn {
    margin-top: 50px;
    padding: 5px;
    font-size: 4rem;
    background-color: rgba(241, 76, 39);
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(241, 76, 39, 0.4);
}

.card {
    width: 300px;
    max-width: 90%;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 20px;
    border-radius: 15px;
    padding: 10px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
}

.numberBox {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#checked {
    width: 375px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 10%;
}

#correct .card,
#notCorrect .card {
    width: auto;
    aspect-ratio: 1 / 1;
    font-size: 2rem;
    padding: 5px;
    margin: 0px;
    margin-top: 20px;
}

#correct .card {
    box-shadow: 0 0 20px rgba(51, 170, 51);
    background-color: rgba(91, 219, 91, 0.2);
}

#notCorrect .card {
    box-shadow: 0 0 20px rgba(241, 76, 39);
    background-color: rgba(241, 76, 39, 0.2);
}